services:
  server:
    build:
      context: ./server
    networks:
      - backend
    expose:
      - "5000"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      RAKUTEN_RECIPE_API_URL: ${RAKUTEN_RECIPE_API_URL}
      RAKUTEN_RECIPE_SEARCH_API_URL: ${RAKUTEN_RECIPE_SEARCH_API_URL}
      RAKUTEN_APP_ID: ${RAKUTEN_APP_ID}
      JANCODE_APP_ID: ${JANCODE_APP_ID}
    depends_on:
      mysql:
        condition: service_healthy

  client:
    build:
      context: ./client
    networks:
      - frontend
    expose:
      - "3000"
    environment:
      REACT_APP_BACKEND_BASE_URL: ${REACT_APP_BACKEND_BASE_URL}

  mysql:
    image: mysql:8.0
    networks:
      - backend
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./.data/mysql:/var/lib/mysql
      - ./config/seeds:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend
      - frontend
    depends_on:
      - server
      - client
      - mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: "3306"
      PMA_USER: root
      PMA_PASSWORD: ${DB_PASSWORD}
    networks:
      - backend
    depends_on:
      - mysql

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
